{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Artist{% endblock  %}

{% block content %}

<h1 class="title pt-5">Top Architects</h1>
<div class="gallery">
  {% for architect in architects %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{architect.image}}" alt="{{architect.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{architect.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Architects Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}